<div id="<%= dom_id message %>">
  <p>
    <strong>Title:</strong>
    <%= message.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= message.content %>
  </p>

  <% message.images.each do |image| %>
    <div style="margin-bottom: 10px;">
      <%= image_tag image.variant(resize_to_limit: [300, 300]) %>
      <%= image_tag image.variant(resize_to_fill: [300, 300]) %>
      <%= image_tag image.variant(resize_and_pad: [300, 300]) %>
      <%= image_tag image.variant(crop: [20, 50, 300, 300]) %>
      <%= image_tag image.variant(resize_to_fill: [300, 300, { crop: :centre }]) %>
    </div>
  <% end %>
</div>
