<% content_for :title, "New user" %>

<%= form_with model: @user, local: true do |form| %>
<p>
  <%= form.label :name %>
  <%= form.text_field :name %>
</p>

<p>
  <%= form.label :email %>
  <%= form.email_field :email %>
</p>

<p>
  <%= form.label :avatar, "プロフィール画像" %>
  <%= form.file_field :avatar %>
</p>

<p>
  <%= form.submit %>
</p>
<% end %>

<%= link_to "Back to users", users_path %>
